@import url('https://fonts.cdnfonts.com/css/pokemon-solid');


.containerCard {
  text-decoration: none;
  color: rgba(48, 30, 9, 0.616);
  margin-top: 4vh;
}

.card {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 16vw;
  height: 22vw;
  border-radius: 10px;
  padding: 10px;
  background-color: #ddf8f6;
  box-shadow: 0px 0px 5px 0px #22210dd5;
  transition: transform 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:hover {
  background-color:  #ddf8f6;
  transform: scale(1.1);
}

.name {
  font-family: 'Pokemon Solid', Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  text-align: center;
  color: #2019f6eb;
  background-color: #ddf8f6;
  height: 2.9rem;
  width: 14rem;
  border-style: hidden;
  border-radius: 12px;
  margin:0px auto;
}

.img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
}

.types{
  text-transform: capitalize;
  text-align: center;
  /* margin-top: 3rem;
  margin-left: 1.5em; */
  /* background-color:   #ffedcd; */
  border-radius: 12px;
  /* width: 6em;
  height: 4em; */
  text-decoration: none;
  /* display: grid;
  grid-template-columns: auto; */
}

.ty{
  padding-left: 10px;
  font-family: 'Pokemon Solid', Arial, Helvetica, sans-serif;
  color: #2019f6eb;
}

.typesImg {
  width: 2vw;
  height: 2vw;
}

.text {
  text-decoration: none;
  font-family: 'Pokemon Solid', Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  color: #2019f6eb;
}

.types .typesContainer {
  display: inline-block;
  justify-content: center;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
}

/* .types {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 7px;
  margin-bottom: 1vh;
  text-decoration: none;
} */